html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
  }
  
  .container {
    display: flex;
    height: 100vh; 
    color: white;
    font-family: Arial, sans-serif;
  }
  

  .logocontainer {
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 1rem 0; 
    width: 100%;
    padding-bottom: 2rem;
  }
  
  .logo {
    width: 5rem;
    height: auto;
    
  }
  
  
  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    padding-top: 2.5rem;
    border-right: 5px solid white; /* White vertical line */
    box-sizing: border-box;
    width: 10rem;
    flex-grow: 1; 
  }

  .leftSection {
    width: 7rem; /* Fixed width for the left section */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding-left:2rem;
    position: fixed;
    height:100hv;
  }

  .rightSection {
    margin-left: 10rem; /* Align content to the right of the left section */
    padding: 5rem; /* Add padding for spacing */
    flex-grow: 1; /* Allow right section to take up the remaining width */
  }
